#Ps1 {
    background-color: rgb(115, 202, 202);
}
#Ps2 {
    background-color: rgb(110, 160, 160);

    h2{
        color: rgb(56, 53, 53);
    }
    h3{
        color: rgb(56, 53, 53);
    }
    h4{
        color: rgb(56, 53, 53);
    }
}
#Ps3 {
    background-color: rgb(51, 85, 85);

}